
table {
    max-width: 950px;
}

.banner {
    background: url("../../../assets/images/hospitality/IMG_1736.JPG") fixed;
    width: 100%;
    height: 40rem;
    background-size: cover;
    object-fit: cover;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-title {
    background-color: var(--primary-filter-color);
    padding: 1em 4em;
    color: var(--on-primary-color);
}