* {
    --primary-color: rgba(0, 153, 51, 1);
    --on-primary-color: white;
    --primary-variant-color: rgb(10, 235, 85);
    --secondary-color: rgba(255, 0, 0, 1);
    --secondary-variant-color: rgba(218, 37, 29, 1);
    --accent-color: rgb(212, 212, 41);
    --background-color: rgba(255, 255, 255, 1);
    --on-background-color: #333;
    --on-background-variant-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(211, 211, 211, 0.137);
    --dimens-default: 0px;
    --primary-filter-color: rgba(0, 153, 51, .4);
    --dimens-tiny: 2px;
    --dimens-extra-small: 4px;
    --dimens-small: 8px;
    --dimens-medium: 12px;
    --active-link-color: rgba(103, 236, 169, 0.801);
    --dimens-large: 16px;
    --dimens-extra-large: 32px;
    --dimens-xxl: 64px;
    --primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--primary-font);

}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.contacts-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .5em;
    font-weight: 500;
    background-color: var(--secondary-color);
    color: var(--on-primary-color);
}

.contact-numbers {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 2px lightgray;
}

ul, li {
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    max-width: 300px;
    text-align: center;
}

.site-name {
    color: var(--secondary-color);
    text-transform: uppercase;
    text-overflow: clip;
}

.logo {
    max-width: 40px;
    max-height: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main-nav-link {
    padding: 0.5em 1em;
    border-radius: 32px;
    color: var(--on-background-color);
    transition: all 0.3s;
}

.hidden {
    display: none;
}

.main-nav-link:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
}

.active-link {
    padding: 0.5em 1em;
    border-radius: 32px;
    color: var(--background-color);
    background-color: var(--primary-color);
}

.navbar a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    background-color: var(--background-color);
    min-width: 500px;
    position: absolute;
    top: 83px;
    overflow: hidden;
    opacity: 0;
    z-index: 5;
    border-top: 2px solid var(--primary-color);
    border: 1px solid lightgray;
    transition: all 0.3s;
    max-height: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.dropdown-item-link {
    color: var(--on-background-color)
}


.dropdown:hover .dropdown-list {
    max-height: 300px;
    overflow: hidden;
    opacity: 1;

}

.fa-angle-down {
    transform: rotate(0deg);
    transition: all 0.3s;
}

.dropdown:hover .fa-angle-down {
    transform: rotate(-540deg);
}

.nav-link-item {
    padding: 2rem 0.5em;
}

.dropdown-item {
    padding: .8rem;
}

.dropdown-item-link {
    position: relative;
    transition: left .3s;
    left: 0px;
}

.dropdown-item:hover, .dropdown-item:hover > .dropdown-item-link {
    background-color: var(--primary-color);
    color: white;
}

.dropdown-item:hover > .dropdown-item-link {
    left: 10px;
    background-color: var(--primary-color);
}

.fa-bars {
    color: var(--on-background-variant-color);
}


@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slideDown {
    from {
        top: 80px;
    }
    to {
        top: 83px;
    }
}

@keyframes fadeIn {
    from {
        background-color: white;
    }
    to {
        background-color: var(--primary-color);
    }
}

@keyframes moveRight {
    from {
        left: 0;
    }
    to {
        left: 10px;
    }
}

@keyframes slideUp {
    0% {
        top: 20px;
        opacity: .4;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.register-btn {
    padding: 1em 1.5em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    transform: scale(0.9);
    transition: all 0.3s;
}

.register-btn:hover {
    opacity: .8;
    transform: scale(1);
}

.register-btn > a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.main-section {
    height: 600px;
}

.main-section-bg {
    height: inherit;
    background-size: cover;
    background: url("../images/global photo.jpg") no-repeat fixed;
}

.main-section > .content {
    color: var(--on-primary-color);
    z-index: 2;
    position: absolute;
    background-color: var(--primary-filter-color);
    backdrop-filter: blur(5px);
    margin-left: 2em;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 4em;
    justify-content: center;
}

.learn-more-btn {
    align-self: flex-start;
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    font-size: 1rem;
    transition: all 0.3s;
    color: var(--background-color);
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.slide {
    background-size: cover;
    background-position: center;
}

#slide-ict {
    background-image: url("../images/ict/IMG_0262.JPG");
    background-attachment: scroll;

}

#slide-business {
    background-image: url("../images/business/IMG_0768.JPG");
}

#slide-electrical {
    background-image: url("../images/electrical/IMG_0222.JPG");
}

#slide-languages {
    background-image: url("../images/languages/IMG_0163.JPG");
}

#slide-hair-dressing {
    background-image: url("../images/hair_dressing/IMG_1703.JPG");
}

.slide::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.slider-content {
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: white;
    z-index: 1;
    top: 0;
    animation: slideUp .4s;
}

.slide-title {
    font-size: 3rem;
}

.banner {
    width: 100%;
    height: 50rem;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.banner::after {
    content: '';
    width: 100%;
    height: inherit;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.slide-title {
    position: relative;
    z-index: 1;
    color: var(--on-primary-color);
}

.learn-more-btn a {
    color: white;
}

.learn-more-btn:hover a {
    color: var(--primary-color);
}

.core-info-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-self: center;
    margin-top: -100px;
}

.core-info-container {
    padding: 2rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #fff;

}

.core-info-container-reveal {
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 1s ease-in .5s;
}

.core-info-active {
    opacity: 1;
    transform: translateX(0);
}

.vision {
    background-color: rgb(3, 117, 41);
}

.mission {
    background-color: rgb(2, 131, 45);
}

.values {
    background-color: var(--primary-color);
}

.core-info-title {
    text-overflow: clip;
    text-transform: uppercase;
    font-weight: bold;
}


.background-info {
    padding: 6em 10em;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: center;
    scroll-margin-top: 400px;
}

.reveal {
    position: relative;
    transform: translateY(200px);
    transition: all 1s ease;
    opacity: 0;
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 100rem;
    height: 50rem;
}

.slide {
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    transition: all 1s;
}

.slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

.background-info-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    line-height: 1.3em;
    font-size: 18px;
    color: var(--on-background-color);
    font-weight: lighter;
}


.background-info-body > .left {
    display: flex;
    flex-direction: column;

}

.background-info-text {
    line-height: 1.3em;
    font-size: 18px;
    color: var(--on-background-color);
    font-weight: lighter;
}

.background-info-body > .right {
    max-width: 300px;
}

.background-info-header {
    text-transform: uppercase;
    padding-bottom: 1em;
}

.background-img {
    max-width: 500px;
}

.section-header {
    color: var(--on-primary-color);
    background: linear-gradient(45deg, var(--secondary-color), transparent);
    padding: .5em 2em;
    width: 70%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.course-section {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.course-section .header {
    text-transform: uppercase;
    color: var(--secondary-color);
    padding: 1em;
}

tbody tr:nth-child(odd) {
    background-color: rgba(192, 226, 198, 1);
}

tbody tr:nth-child(even) {
    background-color: rgba(211, 211, 219, 1);
}

thead > tr {
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    text-align: center;
}

tbody > tr td:first-child {
    text-align: start;
}

th, td {
    padding: 1em;
}

.course-list {
    min-width: 400px;
    font-size: 18px;
    line-height: 1.4em;
    list-style-type: square;
}


.why-global {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    justify-content: space-between;
    scroll-margin-top: 200px;
}

.why-global > .description {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: white;
    background-color: var(--primary-color);
    padding: 3em 0 3em 2em;
}

.why-global ul {
    list-style-type: square;
    margin: 0;
}

.why-global .additional-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.heading {
    text-transform: uppercase;
}

.payment-heading {
    color: var(--secondary-color);
    padding: 1em 2em;
}


.why-global-item {
    max-width: 50%;
    height: auto;
    flex: 1;
}

.why-global-img {
    object-fit: cover;
}

.description {
    padding: 4em;
}

.section-intro {
    margin-right: 1em;
}

.description-item {
    margin: 0 4em;
}

.payment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 1em;
}

.payment-table > tr, .payment-table > th, .payment-table > td {
    background-color: var(--background-color);
    border: 1px solid #333;
    color: #333;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em 4em;
    gap: 2em;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
}

.footer-item {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    line-height: 2em;
    align-items: flex-start;
}

.view-map-btn {
    padding: 1em 2em;
    border: none;
    font-size: 16px;
    color: var(--primary-color);
    background-color: var(--on-primary-color);
}

.footer-item-header {
    font-weight: 700;
}

.footer-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-nav > li::after {
    content: "";
    bottom: 0;
    display: block;
    position: relative;
    width: 0;
    height: 2px;
    background-color: var(--on-primary-color);
    opacity: 0.3;
    transition: width 0.3s;
}

.footer-nav > li:hover::after {
    width: 100%;
}

.footer-nav li > a {
    text-decoration: none;
    color: var(--on-primary-color);
}


.gallery-section {
    padding: 1em;
    margin-top: 2em;
    text-align: center;
}

.gallery-title {
    color: var(--primary-color);
}

.gallery-title::after {
    content: '';
    background-color: var(--primary-filter-color);
    height: 2px;
    width: 200px;
    position: relative;
    bottom: 0;
    display: block;
    top: 1em;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto auto auto auto;
    padding: 4em;
    justify-content: center;
}

.gallery-img {
    height: 250px;
    width: 300px;
    object-fit: cover;
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    .main-nav {
        flex-direction: column;
        justify-content: start;
        gap: 0;
        text-align: start;
        align-items: start;
        padding: .5em;
    }

    .fa-bars {
        display: block;
    }

    .navbar {
        flex-direction: column;
        position: static;
        background-color: var(--background-color);
        top: 83px;
        /*min-width: 400px;*/
        z-index: 2;
    }

    .nav-link-item {
        padding: .5em 0;
        color: var(--on-background-color);
    }

    .navbar .nav-link-item:hover {
        background-color: white;
        color: var(--on-background-color);
        transition: none;
    }

    .dropdown:hover {
        background-color: white;
    }

    .dropdown-item:hover {
        background-color: transparent;
    }

    .dropdown-item:hover > .dropdown-item-link {
        left: 0;
        color: var(--on-background-color);
        background-color: transparent;
    }


    .why-global {
        flex-direction: column;
    }

    .why-global > .description {
        padding: 1.5em;
    }

    .why-global-item > .description-item {
        margin: 0;
    }

    .core-info-section {
        margin: 0;
        /*width: 100%;*/
    }

    .why-global-item {
        /*width: 100%;*/
        max-width: 100%;
    }

    .why-global-img {
        display: none;
    }

    .course-list {
        min-width: auto;
    }

    .nav-link-item {
        padding: 1em;
    }

    .dropdown-list {
        border: none;
    }

    .navbar .main-nav-link {
        padding: 5px 10px;
        background-color: transparent;
        color: var(--on-background-color);
        transition: none;
    }


    .main-nav-link:hover {
        background-color: transparent;
        color: var(--background-color);
    }

    .navbar .nav-link-item:hover .main-nav-link {
        color: var(--on-background-color);
    }

    .dropdown-list {
        left: 0;
        position: relative;
        top: 10px;
        background-color: var(--on-primary-color);
    }

    .contacts-header, .contact-numbers {
        flex-direction: column;
        gap: 10px;
    }

    .background-info,
    .background-info-body,
    .background-info-body > .left,
    .background-info-body > .right,
    .footer,
    .footer-info {
        flex-direction: column;
        transition: none;
    }

    .core-info-section {
        flex-direction: column;
        align-items: stretch;
        margin: 0 10px;
        text-align: start;
    }

    /*.core-info-container {*/
    /*    width: 100%;*/
    /*}*/

    .background-info-body {
        gap: .5em;
    }

    .background-info, .background-info-text {
        padding: 1em 2em;
    }

    .core-info-container {
        transition: none;
    }

    .dropdown:hover .fa-angle-down {
        transform: rotate(-540deg);
    }

    .slider {
        display: none;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    /*.gallery-img {*/
    /*    width: 300px;*/
    /*    height: 300px;*/
    /*}*/
}


