* {
    --primary-color: rgba(0, 153, 51, 1);
    --on-primary-color: white;
    --primary-variant-color: rgb(10, 235, 85);
    --secondary-color: rgba(255, 0, 0, 1);
    --secondary-variant-color: rgba(218, 37, 29, 1);
    --accent-color: rgb(212, 212, 41);
    --background-color: rgba(255, 255, 255, 1);
    --on-background-color: #333;
    --on-background-variant-color: rgba(0,0,0,0.5);
    --shadow-color: rgba(211, 211, 211, 0.137);
    --dimens-default: 0px;
    --dimens-tiny: 2px;
    --dimens-extra-small: 4px;
    --dimens-small: 8px;
    --dimens-medium: 12px;
    --active-link-color: rgba(103, 236, 169, 0.801);
    --dimens-large: 16px;
    --dimens-extra-large: 32px;
    --dimens-xxl: 64px;
    --primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--primary-font);

}

html {
    scroll-behavior: smooth;
}  

.container {
    display: flex;
    flex-direction: column;
}

.contacts-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--on-primary-color);

}

.contact-numbers {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 4px lightgray;
    /* padding: 1rem 0; */
}

ul, li {
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav .navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: .5rem;
    /* padding: 1rem; */
}

.main-nav-link {
    padding: 0.5em 1em;
    color: var(--on-background-color);
}



.navbar a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    background-color: var(--background-color);
    min-width: 400px;
    position: absolute;
    top: 83px;
    opacity: 0;
    border-radius: 2px;
    border-top: 3px solid var(--primary-color);
    transition: all 0.3s;
    max-height: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.dropdown-item-link {
    color: var(--on-background-color)   
}


.dropdown:hover .dropdown-list {
    max-height: 300px;
    overflow: hidden;
    opacity: 1;

}

.fa-angle-down {
    transform: rotate(0deg);
    transition: all 0.3s;
}

.dropdown:hover .fa-angle-down {
    transform: rotate(-540deg);
}

.nav-link-item {
    padding: 2rem 0.5em;
}

.dropdown-item {
    padding: .8rem;
}

.dropdown-item-link {
    position: relative;
    transition: left .3s;
    left: 0px;
}

.dropdown-item:hover, .dropdown-item:hover .dropdown-item-link {
    background-color: var(--primary-color);
    color: white;
}

.dropdown-item:hover .dropdown-item-link {
    left: 10px;
    background-color: var(--primary-color);
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slideDown {
    from {
        top: 80px;
    }
    to {
        top: 83px;
    }
}

@keyframes fadeIn {
    from {
        background-color: white;
    }
    to {
        background-color: var(--primary-color);
    }
}

@keyframes moveRight {
    from {
        left: 0;
    }
    to {
        left: 10px;
    }
}

.register-btn {
    padding: .8em 1.5em;
    background-color: var(--primary-color);
    border: none;
}

.register-btn a {
    color: white;
    text-decoration: none;
}

.main-section {
    background: url("../images/college_students_bg.jpeg");
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 4em;
    justify-content: center;
    color: var(--background-color);
}

.learn-more-btn {
    align-self: flex-start;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 4px;
}
