html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.course-section {
    gap: 2em;
    justify-content: flex-start;
}
.course-info {
    padding: 2em 0;
}
