table {
    min-width: 800px;
}

.course-info {
    display: flex;
    gap: 4em;
}

.section-details {
    font-size: 1.6rem;
    line-height: 1.4em;
    list-style-type: square;
}

.banner {
    background: url("../../../assets/images/languages/IMG_1693.JPG") fixed;
    width: 100%;
    height: 40rem;
    background-size: cover;
    object-fit: cover;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-title {
    background-color: var(--primary-filter-color);
    padding: 1em 4em;
    color: var(--on-primary-color);
}